@media (max-width: 600px) {

  .home__profile {
    height: 150px;
    margin-bottom: 30px;
  }

  .home__title {
    font-size: 30px;
  }

  .home__title-secondary {
    font-size: 25px;
  }

  .services__grid {
    grid-template-columns: 1fr;
  }
}