@media (max-width: 760px) {

  .home {
    flex-direction: column;
  }

  .home__profile {

    margin: 30px;
  }

  .portfolio__grid {
    margin: 0;
    gap: 20px;
  }

  .home__title {
    font-size: 30px;
  }

  .home__title-secondary {
    font-size: 25px;
  }

  .services__grid {
    grid-template-columns: 1fr 1fr;
  }

  .contact__grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0;
  }
}

@media (max-width: 550px) {



  .home__title {
    font-size: 30px;
  }

  .home__title-secondary {
    font-size: 25px;
  }

  .services__grid {
    grid-template-columns: 1fr;
  }

  .portfolio__grid {
    grid-template-columns: 1fr;

  }

  .contact__item {
    padding: 20px;
  }

  .section__title {
    font-size: 25px;
  }

  .section__title:after {

    width: 100px;
    height: 3px;
  }




}